@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
  --border_radius: 0px;
  --text_color: #f2f2f2;
  --navbar_color: #464646;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Play', sans-serif;
  color: var(--text_color);
}

.recharts-wrapper {
  position: static !important;
}

.rcp-saturation {
  position: static;
}

.rcp-saturation-cursor {
  position: relative;
}

.rcp-hue {
  position: static;
}

.rcp-hue-cursor {
  position: relative;
}
